.delete-form .ms-Button {
    background-color: #a80000;
}

.delete-form .ms-Button:disabled {
    background-color: #f4f4f4;
}

.delete-form .ms-Button .ms-Button-label {
    color: white;
}

.delete-form .ms-Button:disabled .ms-Button-label {
    color: #a6a6a6;
}
