.toggle-repl .Resizer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.toggle-repl .Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.toggle-repl .Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.toggle-repl .Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.toggle-repl .Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.toggle-repl .Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}

.toggle-repl .Resizer.disabled {
    cursor: auto;
}

.toggle-repl .Pane {
    overflow: scroll;
}

.toggle-repl .repl-bar {
    border-top: 1px solid #ddd;
    background-color: #f4f4f5;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 42px;
    overflow: hidden;
}

.toggle-repl .repl-bar .buttons {
    float: right;
}

.toggle-repl .repl-bar .buttons .ms-Button--primary {
    margin-top: 0.3em;
}

.toggle-repl .repl-bar .ms-Breadcrumb {
    margin: 0.25em;
}

.toggle-repl .editor-area {
    background-color: #f4f4f5;
    position: absolute;
    width: 100%;
    height: calc(100% - 43px);
}

.toggle-repl .editor-area .query-result {
    padding: 0 5px 0 5px;
}

.toggle-repl .editor-area .key-selector {
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}

.toggle-repl .editor-area .key-selector div {
    display: inline-table;
}

.toggle-repl .editor-area .key-selector .ms-Label {
    display: none;
}

.toggle-repl .editor-area .key-selector .ms-Dropdown {
    margin: 0;
}

.toggle-repl .editor-area .key-selector .ms-Dropdown .ms-Dropdown-title {
    border: none;
    background-color: #f4f4f5;
    font-weight: bold;
}

.toggle-repl .editor-area .key-selector .ms-Button {
    float: right;
}
