.header {
    padding: 0.5em 0 0.5em 0;
}

.header ul {
    float: right;
}

.header ul li {
    display: inline-block;
    list-style: none;
    padding: 0 0 0 1em;
    vertical-align: middle;
}

.header .ms-Button,
.header a {
    color: white
}

.header a {
    font-weight: bold;
    text-decoration: none;
}

.header a:hover,
.header .ms-Button:hover {
    color: #0078d7;
}

