body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

dl dt {
    margin-top: 1em;
    font-weight: bold;
}

dl dd {
    margin: 0.1em 0 0 0;
}

.header {
    padding: 0.5em 0 0.5em 0;
    background-color: black;
    color: white;
}

.header ul {
    float: right;
}

.header ul li {
    display: inline-block;
    list-style: none;
    padding: 0 0 0 1em;
    vertical-align: middle;
}

.header .ms-Button,
.header a {
    color: white !important;
}

.header a:hover,
.header .ms-Button:hover {
    color: #0078d7 !important;
}

.header a {
    font-weight: bold;
    text-decoration: none;
}
